# Ignore raw data and debug files
data/notable_people.json
data/cleaned_notable_people.json
data/people_junk.json
data/people_only_occupations.json
data/people_with_wiki.json
data/former_occupations_list.txt
debug_error.txt
__pycache__/
ideas.txt